.App {
  text-align: center;
  background-color: palegoldenrod;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.songblock {
  border: 2px solid Violet;
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
}

.title span {
  font-size: 25px;
}

.votebtn {
  font-size: small;
  margin-bottom: 3px;
}

@media screen and (max-width: 600px) {
  .songblock {
      margin-bottom: 10px;
  }
  
  .title {
      font-size: 15px;
  }

  .title span {
      font-size: 20px;
  }

  .votebtn {
      font-size: 10px;
  }
}

#rcorners2 {
  border-radius: 25px;
  border: 0.5px solid #73AD21;
}

#rcorners3 {
  border-radius: 25px;
  border: 0.5px solid #73AD21;
}